<div>
  <h1 class="app-title">To do Practice App</h1>
  <div>
    <h2>Add a Todo item .....</h2>
    <br>
    <input type="text" 
    class="text"
    placeholder="..type your todo"
    [(ngModel)] = "todoValue"
    (keyup.enter)="addTask()"/>
    <button class="btn-addtask" (click)="addTask()">Add Todo</button>
  </div>
  <div>
    <ul>
      <li *ngFor="let item of list">
        <div class="checkbox-item">
        <input type="checkbox" class="isDone"
        [(ngModel)] = "item.isDone"/>{{item.val}}
        <button class="btn-delete" (click)="deleteTask(item.id)">Delete</button>
      </div>
    </li>
    </ul>
  </div>
</div>